[MASTER]
# I1101: Module 'pydantic.fields' has no 'ModelField' member, but source is unavailable. Consider adding this module to extension-pkg-whitelist if you want to perform analysis based on run-time introspection of living objects. (c-extension-no-member)
extension-pkg-whitelist=pydantic.fields

[MESSAGES CONTROL]
disable=missing-docstring,
        invalid-name,
        line-too-long,
        broad-except,
        no-member,
        too-few-public-methods,
        too-many-instance-attributes,
        # SOLVE LATER (https://medium.com/swlh/why-it-matters-how-you-log-in-python-1a1085851205)
        logging-fstring-interpolation,
        logging-format-interpolation,
        logging-not-lazy

[REPORTS]
output-format=colorized
